<!-- Side Bar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card-2" style="z-index:3;width:250px;" id="mySidebar">
    <!-- Logo -->
    <img src="../../assets/tech_event icon.png" class="logo">
    <!-- Sidebar Links -->
    <a class="w3-bar-item w3-button" [ngClass]="{'w3-teal': (active == '/dashboard/eventlist')}" routerLink="/dashboard/eventlist"> <i class="w3-medium fa fa-user"></i>   Event List</a>
    <a class="w3-bar-item w3-button" routerLink="/dashboard/myevent"  [ngClass]="{'w3-teal': (active == '/dashboard/myevent')}"> <i class="fa fa-list-ol"></i>   My Events</a>
    <a class="w3-bar-item w3-button" routerLink="/dashboard/organizers"  [ngClass]="{'w3-teal': (active == '/dashboard/add')}"> <i class="w3-medium fa fa-plus"></i>   Organiser</a>
    <a class="w3-bar-item w3-button" (click)="logOut()"><i class="w3-medium fa fa-sign-out"></i>  Logout</a>
  </nav>

  <div id="section1" class="w3-panel w3-sand w3-xxlarge w3-serif w3-card-4 w3-grey">
    
    <h3><span>Welcome to Fortechies, {{username}}</span>
    <span class="w3-dropdown-hover w3-right">
        <button (click)="myFunction()" class="w3-button w3-padding w3-black"><i class="fa fa-chevron-down" aria-hidden="true"></i> </button>
        <div  *ngFor="let event of eventnames" id="Demo" class="w3-dropdown-content w3-bar-block w3-border w3-animate-zoom" style="right:0">
           <a href="#" class="w3-bar-item w3-button w3-medium">Hey! You got an invitation from {{event}}</a>
         </div>
    </span></h3>
    <div class="w3-clear"></div>
    </div>  
    
  
  
  <!-- Load main contents -->
  <div class="w3-main" style="margin-left:250px;">
    <div class="w3-container">
    <!-- Initiate Child Routing -->
      <router-outlet></router-outlet>
    </div>
  </div>
  
 