version: '2.0'

services:
  mysql-docker-container:
    image: mysql:5.7
    
    environment:
      - MYSQL_ROOT_PASSWORD=root123
      - MYSQL_DATABASE=techevent
      - MYSQL_USER=root
    ports:
      - 3306:3306
    volumes:
      - /data/mysql
  spring-boot-jpa-app:
    image: spring-boot-jpa-image
    build:
      context: ./
      dockerfile: Dockerfile
    depends_on:
      - mysql-docker-container
    ports:
      - 3000:3000 
    volumes:
      - /data/spring-boot-app
    #command: java -jar /usr/app/EventPlanning-0.0.1-SNAPSHOT.jar
